.note {
    border-radius: 7px;
    box-shadow: 0 2px 5px #4a3838;
    padding: 12px;
    width: 240px;
    margin: 12px;
    float: left;
    background: #42bad2;
  }
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #fff;
    background-color: #000;
    border: none;
    width: 65px;
    height: 35px;
    cursor: pointer;
    outline: none;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    margin-bottom: 30px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
 