header {
    background-color: #42bad2;
    margin: auto;
    padding: 16px 40px;
    display: flex;
    position: relative;
  }
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 210;
  }